<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        body {
            background-color: #000;
        }
        #message {
            color: white; display: block;
        }
    </style>
    <script type="text/javascript">
        function init(){
            var nwGui = nwDispatcher.requireNwGui();
            var thisWindow = nwGui.Window.get();
            document.body.onclick = function(){
               thisWindow.hide();
            };
        }
    </script>
</head>
<body onload="init()">
<div id="message">You received <span id="messageCount">0</span> new <span id="messageTempus">message</span>!</div>
</body>
</html>