<!DOCTYPE html>
<html>
  <head>
    <title>Quick Question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- link rel="stylesheet" href="../css/jquery-mobile/jquery.mobile-1.3.2.min.css" / -->
    <link rel="stylesheet" href="../css/themes/mascha.css" />
    <link rel="stylesheet" href="../css/jquery-mobile/jquery.mobile.structure-1.3.2.min.css" />
    <script src="../js/3rd/jquery-1.8.2.min.js"></script>
    <script src="../js/3rd/jquery.mobile-1.3.2.min.js"></script>
    <script src="../js/app.js"></script>
  </head>
<body>

  <div id="text" id="page" data-role="page" data-theme="a">
    <div id="headerText" data-role="header">
      <h1></h1>
      <a href="#navigationPanelText" data-icon="bars" data-iconpos="notext" data-corners="true" data-shadow="true" data-iconshadow="false" data-wrapperels="span" data-theme="a" title="Collaborators" class="ui-btn-right"></a>
      <div data-role="navbar">
        <ul>
          <li><a href="#text" data-transition="flip" class="ui-btn-active ui-state-persist">Text</a></li>
          <li><a href="#whiteboard" data-transition="flip">Whiteboard</a></li>
        </ul>
      </div>
    </div>
    <div id="contentText" data-role="content">
      <a id="attachmentButton" href="#attachmentPanel" data-role="button" style="display:none; position: absolute; right: -41px; top: 235px; -webkit-transform: rotate(-90deg);" data-mini="true">Attachments</a>
      <ul style="overflow:auto;" id="messagelist" name="messagelist" data-role="listview" data-inset="true" data-filter="true"></ul>
      <textarea id="messageToSend" rows="2" style="max-height: 140px;" placeholder="Type a message or drop files for sending."></textarea>
    </div>
    <div id="footerText" data-role="footer"> 
      <h4 id="message"></h4> 
    </div>
    <div class="ui-popup-container ui-popup-hidden" id="confirmUpdate-popup">
        <div data-role="popup" id="confirmUpdate" data-overlay-theme="a" data-theme="c" style="max-width:400px;" class="ui-corner-all ui-popup ui-body-c ui-overlay-shadow" aria-disabled="false" data-disabled="false" data-shadow="true" data-corners="true" data-transition="none" data-position-to="origin">
            <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content ui-body-d" role="main">
              <h3 class="ui-title">An update is available.</h3>
              <p>Do you want to apply this update?</p>
              <a href="#" id="update-no" data-role="button" data-inline="true" data-rel="back" data-theme="c" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span">No</a>
              <a href="#text" id="update-yes" data-icon="check" data-role="button" data-inline="true" data-transition="flow" data-theme="b" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span">Update</a>
            </div>
        </div>
    </div>
    <div class="ui-popup-container ui-popup-hidden" id="confirmRestart-popup">
        <div data-role="popup" id="confirmRestart" data-overlay-theme="a" data-theme="c" style="max-width:400px;" class="ui-corner-all ui-popup ui-body-c ui-overlay-shadow" aria-disabled="false" data-disabled="false" data-shadow="true" data-corners="true" data-transition="none" data-position-to="origin">
          <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content ui-body-d" role="main">
            <h3 class="ui-title">The app needs to restart, to apply changes.</h3>
            <p>Do you want to restart now?</p>
            <a href="#" id="restart-no" data-role="button" data-inline="true" data-rel="back" data-theme="c" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span">No</a>
            <a href="#text" id="restart-yes" data-icon="check" data-role="button" data-inline="true" data-transition="flow" data-theme="b" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span">Restart</a>
          </div>
      </div>
    </div>
    <div data-role="panel" id="navigationPanelText" data-position="right" data-display="reveal">
      <ul data-role="listview" id="collaboratorListView" name="collaboratorListView">
      </ul>
    </div>
    <div data-role="panel" id="attachmentPanel" data-position="right" data-display="push" data-inset="true">
      <ul data-role="listview" id="attachmentListView" name="attachmentListView" data-split-icon="delete">
      </ul>
    </div>
    <input id="fileSaveAsDialog" type="file" nwsaveas style="display: none;"/>
    <div data-role="popup" id="fileHandlePopup">
      <div data-role="controlgroup" data-type="horizontal" data-mini="true">
        <a href="#" id="saveAsFileButton" data-role="button">Save</a>
        <a href="#" id="openFileButton" data-role="button">Open</a>
      </div>
    </div>
  </div>

  <div id="whiteboard" data-role="page" data-theme="a">
    <div id="header" data-role="header">
      <h1></h1>
      <a href="#navigationPanelWhiteboard" data-icon="bars" data-iconpos="notext" data-corners="true" data-shadow="true" data-iconshadow="false" data-wrapperels="span" data-theme="a" title="Collaborators" class="ui-btn-right"></a>
      <div data-role="navbar">
        <ul>
          <li><a href="#text" data-transition="flip">Text</a></li>
          <li><a href="#whiteboard" data-transition="flip" class="ui-btn-active ui-state-persist">Whiteboard</a></li>
        </ul>
      </div>
    </div>
    <div id="contentWhiteboard" data-role="content">
      <div style="background-image: url('../img/whiteboard_background.png');">
        <canvas id="sketchArea" width="600" height="600" style="border: 1px solid black;"></canvas>
      </div>
    </div>
    <div id="footerWhiteboard" data-role="footer">
      <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
        <a href="#" data-role="button" id="newSketchArea" data-icon="delete">New</a>
        <a href="#" data-role="button" id="saveSketchArea" data-icon="check">Save</a>
        <label for="pencilSizeSketchArea">Size</label>
        <select name="pencilSizeSketchArea" id="pencilSizeSketchArea">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="40">40</option>
          <option value="80">80</option>
          <option value="160">160</option>
        </select>
        <label for="pencilColorSketchArea">Size</label>
        <select name="pencilColorSketchArea" id="pencilColorSketchArea">
          <option value="#000000">1</option>
          <option value="#555555">2</option>
          <option value="#999999">3</option>
          <option value="#0a67a3">4</option>
          <option value="#3e97d1">5</option>
          <option value="#8ec9ef">6</option>
          <option value="#ff0000">7</option>
          <option value="#f56c36">8</option>
          <option value="#f8a881">9</option>
          <option value="#7ed616">10</option>
          <option value="#ddec38">11</option>
          <option value="#407f1a">12</option>
          <option value="#a15f9d">13</option>
          <option value="#f580e3">14</option>
          <option value="#ffff00">15</option>
          <option value="#8a5025">16</option>
          <option value="#ef934d">17</option>
          <option value="#ffffff">18</option>
        </select>
      </fieldset>
      <input id="whiteboardSaveAsDialog" type="file" nwsaveas="whiteboard.png" style="display: none;"/>
    </div>
      <div class="ui-popup-container ui-popup-hidden" id="confirmUpdate-popup">
          <div data-role="popup" id="confirmUpdate" data-overlay-theme="a" data-theme="c" style="max-width:400px;" class="ui-corner-all ui-popup ui-body-c ui-overlay-shadow" aria-disabled="false" data-disabled="false" data-shadow="true" data-corners="true" data-transition="none" data-position-to="origin">
              <div data-role="header" data-theme="a" class="ui-corner-top ui-header ui-bar-a" role="banner">
                  <h1 class="ui-title" role="heading" aria-level="1">Update</h1>
              </div>
              <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content ui-body-d" role="main">
                <h3 class="ui-title">An update is available.</h3>
                <p>Do you want to apply this update?</p>
                <a href="#" id="update-no" data-role="button" data-inline="true" data-rel="back" data-theme="c" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all ui-btn-inline"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">No</span></span></a>
                <a href="#" id="update-yes" data-role="button" data-inline="true" data-transition="flow" data-theme="b" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-b ui-shadow ui-btn-corner-all ui-btn-inline"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Update</span></span></a>
              </div>
          </div>
      </div>
      <div class="ui-popup-container ui-popup-hidden" id="confirmRestart-popup">
          <div data-role="popup" id="confirmRestart" data-overlay-theme="a" data-theme="c" style="max-width:400px;" class="ui-corner-all ui-popup ui-body-c ui-overlay-shadow" aria-disabled="false" data-disabled="false" data-shadow="true" data-corners="true" data-transition="none" data-position-to="origin">
              <div data-role="header" data-theme="a" class="ui-corner-top ui-header ui-bar-a" role="banner">
                  <h1 class="ui-title" role="heading" aria-level="1">Restart</h1>
              </div>
              <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content ui-body-d" role="main">
                <h3 class="ui-title">The app needs to restart, to apply changes.</h3>
                <p>Do you want to restart now?</p>
                <a href="#" id="restart-no" data-role="button" data-inline="true" data-rel="back" data-theme="c" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all ui-btn-inline"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">No</span></span></a>
                <a href="#" id="restart-yes" data-role="button" data-inline="true" data-transition="flow" data-theme="b" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-b ui-shadow ui-btn-corner-all ui-btn-inline"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Restart</span></span></a>
              </div>
          </div>
      </div>
      <div data-role="panel" id="navigationPanelWhiteboard" data-position="right" data-display="reveal">
        <ul data-role="listview" id="collaboratorListView" name="collaboratorListView">
        </ul>
      </div>
    </div>
</body>
</html>
